<template>
  <v-app>
    <v-main max-height="100%">
      <v-layout
        class="d-flex flex-column align-center justify-center fill-height"
      >
        <v-lazy
          :options="{
            threshold: 0.5,
          }"
          transition="fade-transition"
        >
          <div
            class="d-flex flex-column align-center justify-center fill-height"
          >
            <h1 class="textsize">404</h1>
            <p class="font-weight-bold">
              The page you are attempting to reach is currently not available.
              This may be because the page does not exist or has been moved.
            </p>
            <v-btn class="text-color white--text" elevation="2" to="/"
              >Volver al chat</v-btn
            >
          </div>
        </v-lazy>
      </v-layout>
    </v-main>
  </v-app>
</template>
<style lang="sass">
.text-color
  background-color: #dc3545 !important

.textsize
  font-size: 20rem
  color: #dc3545 !important
</style>