<template>
  <div>
    <v-layout justify-center align-center fill-height>
      <v-lazy
        class="pt-5"
        :options="{
          threshold: 0.5,
        }"
        transition="fade-transition"
      >
        <v-card
          max-width="800"
          width="800"
          height="600"
          class="mx-auto grey lighten-3"
        >
          <!-- <v-navigation-drawer v-model="drawer" absolute width="400">
            <div class="pa-2 d-flex">
              <v-btn @click="drawer = false" icon
                ><v-icon>mdi-arrow-left</v-icon></v-btn
              >
            </div>
            <div class="d-flex flex-column justify-center align-center">
              <v-avatar color="primary white--text text-uppercase" size="86">
                {{ $store.getters.user.name.substring(0, 1) }}
              </v-avatar>
              <p class="py-2 font-weight-bold">
                {{ $store.getters.user.name }}
                {{ $store.getters.user.lastname }}
              </p>
              <v-window v-model="step">
                <v-window-item :value="1">
                  <v-card elevation="0">
                    <div
                      class="
                        pt-3
                        d-flex
                        flex-column
                        justify-center
                        align-center
                      "
                    >
                      <p>
                        <v-icon>mdi-email</v-icon>
                        {{ $store.getters.user.email }}
                      </p>
                      <p>
                        <v-icon>mdi-pencil</v-icon>
                        {{ $store.getters.user.createdAt }}
                      </p>
                      <p>
                        <v-icon>mdi-update</v-icon
                        >{{ $store.getters.user.updatedAt }}
                      </p>
                      <div class="pt-3">
                        <v-btn @click="step = 2" color="primary"
                          >Cambiar Contraseña</v-btn
                        >
                      </div>
                    </div>
                  </v-card>
                </v-window-item>
                <v-window-item :value="2">
                  <v-card elevation="0"
                    >Hola 2

                    <v-btn @click="step = 3" color="primary"
                      >Cambiar Contraseña</v-btn
                    >
                  </v-card>
                </v-window-item>
                <v-window-item :value="3">
                  <v-card elevation="0"
                    >Hola 3

                    <v-btn @click="step = 1" color="primary"
                      >Cambiar Contraseña</v-btn
                    >
                  </v-card>
                </v-window-item>
              </v-window>
            </div>
          </v-navigation-drawer> -->
          <v-layout>
            <v-flex xs12 sm5>
              <div class="d-flex justify-center align-center pa-3">
                <v-btn icon @click="drawer = true"
                  ><v-avatar
                    color="primary white--text text-uppercase"
                    size="46"
                  >
                    {{ $store.getters.user.name.substring(0, 1) }}
                  </v-avatar></v-btn
                >
                <v-spacer></v-spacer>
                <!-- <v-btn icon><v-icon>mdi-plus</v-icon></v-btn> -->
                <v-menu offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on">
                      <v-icon>mdi-dots-horizontal</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item link>
                      <v-list-item-title>
                        <span>Configuracion</span></v-list-item-title
                      >
                    </v-list-item>
                    <v-list-item link @click="logout()">
                      <v-list-item-title>
                        <span>Cerrar Session</span></v-list-item-title
                      >
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
              <v-divider></v-divider>
              <div
                class="mt-2 mx-2 grey--text d-flex align-center justify-center"
              >
                <v-text-field
                  filled
                  rounded
                  elevation="0"
                  placeholder="Buscar"
                  solo
                  dense
                ></v-text-field>
              </div>
              <v-layout column class="white listuser">
                <v-list>
                  <v-list-item-group v-model="selectedItem">
                    <v-list-item>
                      <v-list-item-icon>
                        <v-avatar color="primary white--text" size="46">
                          <v-img
                            src="@/assets/images/chat/grupo.jpg"
                            lazy-src="@/assets/images/chat/grupo.jpg"
                          />
                        </v-avatar>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title
                          >Grupo de programacion</v-list-item-title
                        >
                        <v-list-item-subtitle
                          >{{ lastmessage }}...</v-list-item-subtitle
                        >
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-layout>
            </v-flex>
            <v-flex xs12 sm7>
              <div class="d-flex pa-3">
                <v-btn icon>
                  <v-avatar color="primary white--text" size="46">
                    <v-img
                      src="@/assets/images/chat/grupo.jpg"
                      lazy-src="@/assets/images/chat/grupo.jpg"
                    />
                  </v-avatar>
                  <!-- <v-avatar
                    color="primary white--text text-uppercase"
                    size="36"
                  >
                    {{ $store.getters.user.name.substring(0, 1) }}
                  </v-avatar> -->
                </v-btn>
                <div class="d-block">
                  <div class="ml-3">Grupo de programacion</div>
                  <div class="online ml-3">
                    Personas En Linea: {{ personOnline.length }}
                  </div>
                </div>
                <v-spacer></v-spacer>
                <v-btn icon><v-icon>mdi-magnify</v-icon></v-btn>
                <v-divider inset vertical></v-divider>
                <v-menu offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn icon v-bind="attrs" v-on="on">
                      <v-icon>mdi-dots-horizontal</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item link>
                      <v-list-item-title>
                        <span>Configuracion</span></v-list-item-title
                      >
                    </v-list-item>
                    <v-list-item link @click="logout()">
                      <v-list-item-title>
                        <span>Cerrar Session</span></v-list-item-title
                      >
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
              <v-divider></v-divider>
              <v-layout column fill-height>
                <div
                  v-chat-scroll="{ always: false, smooth: true }"
                  class="chat bgchat black--text text-lighten-5"
                >
                  <p
                    v-for="(chat, index) in chats"
                    :key="index"
                    :class="
                      chat.userID == $store.getters.user._id
                        ? 'chat__reciver chat__message'
                        : 'chat__message'
                    "
                  >
                    <span class="chat__name">{{ chat.name }}</span>
                    <!-- <audio controls class="audio">
                      <source src="horse.ogg" type="audio/ogg" />
                      <source src="horse.mp3" type="audio/mpeg" />
                      Your browser does not support the audio element.
                    </audio> -->
                    {{ chat.msg }}
                    <span class="chat__timestamp">
                      {{ chat.date }}.
                      <v-icon small color="info"> mdi-check-all</v-icon></span
                    >
                  </p>
                </div>

                <v-form
                  @submit.prevent="sendMessage"
                  class="inputsend pa-1 d-flex justify-space-between"
                >
                  <v-btn icon><v-icon>mdi-emoticon</v-icon></v-btn>

                  <v-btn icon><v-icon>mdi-paperclip</v-icon> </v-btn>

                  <v-text-field
                    :rules="rules"
                    counter="200"
                    maxlength="255"
                    solo
                    dense
                    v-model="message"
                    @keyup.enter="sendMessage()"
                    :append-outer-icon="message ? 'mdi-send' : 'mdi-microphone'"
                    placeholder="Escribir"
                    type="text"
                    @click:append-outer="sendMessage"
                  ></v-text-field>
                </v-form>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card>
      </v-lazy>
    </v-layout>
    <v-snackbar color="primary" v-model="snackbar">
      {{ join }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false"> cerrar </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
import { mapActions } from "vuex";

export default {
  name: "chat",
  data: () => ({
    step: 1,
    rules: [(v) => v.length <= 200 || "Max 200 caracteres"],
    snackbar: false,
    message: "",
    selectedItem: 0,
    chats: [],
    join: null,
    personOnline: [],
    lastmessage: null,
    scrolledToBottom: false,
    drawer: false,
  }),
  created() {
    this.$socket.emit("newJoin", this.$store.getters.user.name);
    this.$socket.emit("allChat", 200);
  },
  sockets: {
    calldata(data) {
      this.chats = data;
    },
    join(data) {
      if (this.personOnline.includes(data)) {
        //
        this.snackbar = true;
        this.join = data;
      } else {
        this.personOnline.push(data);
        this.snackbar = true;
        this.join = data;
      }
    },
    chatRealTime(data) {
      this.chats.push(data);
    },
    lastmsg(data) {
      this.lastmessage = data.substring(0, 30);
    },
  },
  methods: {
    sendMessage() {
      if (this.message.length <= 200) {
        this.axios
          .get("/chat")
          .then(() => {
            if (this.message) {
              const sendMsg = {
                _id: this.$store.getters.user._id,
                name: this.$store.getters.user.name,
                msg: this.message,
              };

              this.$socket.emit("sendUpdateUsers", sendMsg);
              this.resetIcon();
              this.clearMessage();
              this.scroll();
            }
          })
          .catch((e) => {
            console.log(this.axios.defaults.headers.common["Authorization"]);
            // console.log(e.response.data);
            console.log(e.response);
            throw new Error(e.response.data);
          });
      }
    },
    clearMessage() {
      this.message = "";
    },
    resetIcon() {
      this.iconIndex = 0;
    },
    ...mapActions(["logout"]),
    scroll() {},
  },
};
</script>
<style lang="sass">
.audio
  width: 300px
  height: 60px
  background-color: transparent
.online
  font-size: 11px
// .notification
//   text-align: center
//   font-weight: 500
//   width: 200px
//   border-radius: 14px
//   background-color: #E1F3FB
//   padding: 4px
//   font-size: 11px
.chat__name
  position: absolute
  top: -18px
  font-weight: 800
  font-size: small

.listuser
  position: absolute
  height: 460px
  width: 332px
  overflow-x: hidden
  overflow-y: scroll
.inputsend
  width: 465px
  position: absolute
  bottom: 0
.chat__message
  word-break: break-all
  position: relative
  font-size: 16px
  padding: 10px
  background-color: white
  border-radius: 10px
  width: fit-content

.chat__reciver
  margin-left: auto
  background-color: #dcf8c6

.chat__timestamp
  margin-left: 10px
  font-size: xx-small

.bgchat
  position: absolute
  height: 460px
  width: 467px
  flex: 1
  background-color: #E0E0E0
  background-repeat: no-repeat
  background-position: center
  padding: 20px
  overflow-x: hidden
  overflow-y: scroll

::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-track
  box-shadow: inset 0 0 5px grey
  border-radius: 10px

::-webkit-scrollbar-thumb
  background: #757575
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background: #757575

// .lineRigth
//   border-right: 2px solid #E0E0E0
  .chat
    flex: 0.65
    display: flex
    flex-direction: column
</style>