<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "app",
  data() {
    return {
      //
    };
  },
  methods: {
    ...mapActions(["getUpdateToken"]),
  },
  created() {
    this.getUpdateToken();
  },
};
</script>
