<template>
  <v-layout align-center justify-center fill-height>
    <v-lazy
      :options="{
        threshold: 0.5,
      }"
      transition="fade-transition"
    >
      <v-card
        :loading="loadingCard"
        class="px-6"
        elevation="4"
        max-width="500"
        width="500"
      >
        <v-toolbar flat>
          <v-spacer></v-spacer>
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn text v-bind="attrs" v-on="on">
                <v-icon small>flag-icon flag-icon-do </v-icon>
                <span class="font-weight-bold caption">&nbsp;ES</span>
              </v-btn>
            </template>
            <v-list>
              <v-list-item link>
                <v-list-item-title>
                  <span class="font-weight-bold caption"
                    >Español</span
                  ></v-list-item-title
                >
              </v-list-item>
              <v-list-item link>
                <v-list-item-title>
                  <span class="font-weight-bold caption"
                    >Ingles</span
                  ></v-list-item-title
                >
              </v-list-item>
            </v-list>
          </v-menu>
          <!-- <v-icon>flag-icon flag-icon-us</v-icon> -->
        </v-toolbar>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          @submit.prevent="formulario()"
        >
          <v-card-text>
            <div>
              <h1 class="headline grey--text text--darken-4">Registrate</h1>
              <p class="font-weight-medium">
                Completa el formulario para poder chatear
              </p>
            </div>
            <v-row>
              <v-col md="6">
                <label
                  for="name"
                  class="font-weight-medium grey--text text--darken-3"
                  >Nombre</label
                >
                <v-text-field
                  :rules="nameRules"
                  dense
                  ref="name"
                  solo
                  id="name"
                  v-model="form.name"
                  placeholder="Nombre"
                  type="text"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="6">
                <label
                  for="lastname"
                  class="font-weight-medium grey--text text--darken-3"
                  >Apellido</label
                >
                <v-text-field
                  :rules="lastnameRules"
                  dense
                  ref="lastname"
                  solo
                  id="lastname"
                  v-model="form.lastname"
                  placeholder="Apellido"
                  type="text"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col md="6">
                <label
                  for="password"
                  class="font-weight-medium grey--text text--darken-3"
                  >Contraseña</label
                >
                <v-text-field
                  :rules="passwordRules"
                  dense
                  ref="password"
                  solo
                  id="password"
                  v-model="form.password"
                  placeholder="Contraseña"
                  :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPass ? 'text' : 'password'"
                  @click:append="showPass = !showPass"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="6">
                <label
                  for="password"
                  class="font-weight-medium grey--text text--darken-3"
                  >Contraseña</label
                >
                <v-text-field
                  :rules="confirmpasswordRules"
                  dense
                  ref="confimpassword"
                  solo
                  id="confimpassword"
                  v-model="form.confimpassword"
                  placeholder="Confirmar Contraseña"
                  :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="showPass ? 'text' : 'password'"
                  @click:append="showPass = !showPass"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col md="12">
                <label
                  for="email"
                  class="font-weight-medium grey--text text--darken-3"
                  >Dirección de Correo</label
                >
                <v-text-field
                  :rules="emailRules"
                  dense
                  ref="email"
                  solo
                  id="email"
                  v-model="form.email"
                  placeholder="Dirección de Correo"
                  type="email"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-btn
              :disabled="
                !valid ||
                !form.name ||
                !form.email ||
                !form.password ||
                !form.confimpassword
              "
              :loading="btnLoading"
              type="submit"
              block
              color="primary"
              >Registrate</v-btn
            >
          </v-card-text>
          <v-card-actions>
            <v-btn block disabled>
              <v-icon color="primary" small>mdi-google</v-icon>
              &nbsp; Autenticarte con Google</v-btn
            >
          </v-card-actions>
          <v-card-text>
            <p>
              Ya tienes una cuenta?
              <v-btn color="primary" text to="/auth/signin"
                >Inicia Sesión</v-btn
              >
            </p>
          </v-card-text>
        </v-form>
      </v-card>
    </v-lazy>
  </v-layout>
</template>
<script>
import { mapActions } from "vuex";
import Swal from "sweetalert2";
export default {
  name: "SignIn",

  data: () => ({
    //
    checkbox: false,
    showPass: false,
    form: {
      name: null,
      lastname: null,
      password: null,
      confimpassword: null,
      email: null,
    },

    btnLoading: false,
    loadingCard: false,
    valid: true,
    nameRules: [
      (v) => !!v || "El nombre es requerido",
      (v) =>
        (v && v.length >= 3) || "El nombre debe tener 3 caracteres minimo.",
    ],
    lastnameRules: [
      (v) => !!v || "El apellido es requerido",
      (v) =>
        (v && v.length >= 3) || "El apellido debe tener 3 caracteres minimo.",
    ],
    emailRules: [
      (v) => !!v || "Debe ingresar el correo",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    passwordRules: [
      (v) => !!v || "La Contraseña es requerida",
      (v) =>
        (v && v.length >= 6) || "La Contraseña debe tener 6 caracteres minimo.",
    ],
    confirmpasswordRules: [
      (v) => !!v || "La confirmacion es requerida",
      (v) =>
        (v && v.length >= 6) || "La Contraseña debe tener 6 caracteres minimo.",
    ],
  }),

  methods: {
    ...mapActions(["signup"]),
    formulario() {
      (this.btnLoading = true),
        (this.loadingCard = true),
        this.signup(this.form)
          .then(() => {
            setTimeout(() => {
              this.btnLoading = false;
              this.loadingCard = false;
            }, 500);
          })
          .catch((e) => {
            Swal.fire({
              title: "Error!",
              text: e,
              icon: "error",
              confirmButtonColor: "#3085d6",
              confirmButtonText: "Aceptar",
            });
            this.btnLoading = false;
            this.loadingCard = false;
          });
    },
  },
};
</script>
<style lang="sass">
</style>